*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.text-center{
    text-align: center;
    background: rgb(29,13,27);
    background: linear-gradient(90deg, rgba(29,13,27,1) 0%, rgba(28,2,32,1) 7%, rgba(0,212,255,1) 100%); 
    color: rgb(49, 49, 49);  
    height: 85vh;
    color:wheat
}

.same{
    display: block;
}

.navLink{
    display: block;
    margin-bottom: 20px;
}

.main-heading{
    text-align: center;
     margin: 10px;
     margin-bottom: 3rem;
     color:darkblue
}

span{
    color:red
}

.course-wrp{
   margin-left: 40px;
    margin-bottom: 100px; 
   margin-top: 20px;
}

.btn-wrp{
    margin-right: 10px;
}

.course-wrp h3 .course-wrp h5{
   padding-bottom: 10px;
}

.allcourses-wrp{
    display: flex; flex-wrap: wrap;
}

.addcourse-wrp h3{
   margin-bottom: 20px;
    margin-left: 20px;
}

.text-area{
    margin-top: 20px; margin-left: 20px; height: 10rem; width: 26.3rem ;
}

.addcourse-wrp button{
    margin: 10px 20px;
    border-radius: 4px;
    color: white;
    background-color: red
}

.input-wrp{
   margin-left: 20px; 
   margin-right: 40px;
   text-align: center;
}

